<div class="container">
<div class="row">
  <h2>Bill for <%= @bill.user.name %></h2>
  <hr>
  <h4>Issued: <%= @bill.date_issued %></h4>
  <h4>Status: <%= @bill.status %></h4>
</div>
<br>

<p id="pdf_link"><%= link_to "Download Bill (PDF)", bill_path(@bill, :format => "pdf"), :_target => '' %></p>
<div class="col-md-9">
  <h2>Summary</h2>
  <table class="table table-bordered table-hover table-condensed">
    <tr class="info">
      <td colspan="2">
        <h4><strong>Charges</strong></h4>
      </td>
    </tr>
    <tr>
      <th>Description</th>
      <th>Amount</th>
    </tr>
    <% @bill.charges.each do |charge| %>
    <tr>
      <td><%= charge.description %></td>
      <td><%= number_to_currency(charge.amount) %></td>
    </tr>
    <% end %>
    <tr class="subtotal">
      <td></td>
      <td><%= number_to_currency(@bill.charge_total) %></td>
    </tr>
  </table>

  <% if @bill.credits.any? %>
    <table class="table table-bordered table-hover table-condensed">
      <tr class="success">
        <td colspan="2">
          <h4><strong>Credits</strong></h4>
        </td>
      </tr>
      <tr>
        <th>Description</th>
        <th>Amount</th>
      </tr>
      <% @bill.credits.each do |credit| %>
      <tr>
        <td><%= credit.description %></td>
        <td><%= number_to_currency(credit.amount) %></td>
      </tr>
      <% end %>
      <tr class="subtotal">
        <td></td>
        <td><%= number_to_currency(@bill.credit_total) %></td>
      </tr>
    </table>
  <% end %>

  <table class="table table-bordered table-hover table-condensed">
    <tr class="success">
      <td colspan="2">
        <h4><strong>Payments</strong></h4>
      </td>
    </tr>
    <tr>
      <th>Description</th>
      <th>Amount</th>
    </tr>
    <% @bill.payments.each do |payment| %>
    <tr>
      <td><%= payment.description %></td>
      <td><%= number_to_currency(payment.amount) %></td>
    </tr>
    <% end %>
    <tr class="subtotal">
      <td></td>
      <td><%= number_to_currency(@bill.payment_total) %></td>
    </tr>
  </table>

  <table class="table table-bordered table-hover table-condensed">
    <tr class="warning">
      <td>
        <h4><strong>Balance Due</strong></h4>
      </td>
    </tr>
    <tr class="total">
      <td><%= number_to_currency(@bill.balance) %></td>
    </tr>
  </table>

  <div class="try">
    <a class="btn btn-default" href="#" type="button">Pay Now</a>
  </div>
</div>
</div>