<div class="container">
  <br>
  <h2 class="text-center">TANNER RENTALS LEASE AGREEMENT</h2>
  <br>

  <%= form_for @lease do |f| %>
    <%= f.hidden_field :property_id, @property.id %>
    <%= f.hidden_field :user_id, @resident.id %>
    <p>This Rental Agreement or Residential Lease shall evidence the complete terms and conditions under which the parties
    whose signatures appear below have agreed. Landlord/Lessor/Agent, &nbsp;<u><%= @owner.name %></u>&nbsp;, shall be
    referred to as "OWNER" and Tenant(s)/Lessee, &nbsp;<u><%= @resident.name %></u>&nbsp;, shall be referred to as
    "RESIDENT." As consideration for this agreement, OWNER agrees to rent/lease to RESIDENT and RESIDENT
    agrees to rent/lease from OWNER for use solely as a private residence, the premises located at
    &nbsp;<u><%= @property.address %></u>&nbsp;in the city of &nbsp;<u><%= @property.city %></u>&nbsp;.</p>

    <ol>
      <li>
        TERMS: RESIDENT agrees to pay in advance $
        <u><%= f.number_field :rent, class: "basic-input-sm" %></u>
        per month on day
        <%= f.select :day_rent_due, (1..28), {} %>
        of each month. This agreement shall commence on
        <%= f.text_field :start_date, class: "basic-input-sm datepicker" %>
        and continue; (check one)

        <div class="radio">
          <label>
            <%= f.radio_button :month_to_month, "0", checked: true%>
            A. until <u><span class="end-date"></span></u>, as a leasehold. Thereafter it shall become a month-to-month tenancy. If RESIDENT should move from the premises prior to the expiration of this time period, he shall be liable for all rent due until such
            time that the Residence is occupied by an OWNER approved paying RESIDENT and/or expiration of said time period, whichever is shorter.
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :month_to_month, value: "1", checked: "checked" %>
            B. until <u><span class="end-date"></span></u>, on a month-to-month tenancy until either party shall terminate this agreement by
            giving a written notice of intention to terminate at least 30 days prior to the date of termination.
          </label>
        </div>
      </li>
      <li>
        PAYMENTS: Rent and/or other charges are to be paid at such place or method designated by the owner. Acceptable payments include payments made by check, money order, cash, or credit card. OWNER will provide receipts for payments upon request. A Security Deposit of $<u><%= f.number_field :security_deposit, class: "basic-input-sm" %></u> will be paid at time of first months rent. All payments are to be made payable to <u><%= f.text_field :make_payable_to, class: "basic-input-sm" %></u>.
      </li>
      <li>
        SECURITY DEPOSITS: The total of the above deposits shall secure compliance with the terms and conditions of
        this agreement and shall be refunded to RESIDENT within <u><%= f.number_field :days_security_deposit_return, class: "basic-input-sm" %></u>
        days after the premises have been completely vacated less any amount necessary to pay OWNER; a) any unpaid rent, b) cleaning costs, c) key replacement costs, d) cost for repair of damages to premises and/or common areas above ordinary wear and tear,
        and e) any other amount legally allowable under the terms of this agreement. A written accounting of said charges shall be presented to RESIDENT within <u><%= f.number_field :days_security_deposit_notice, class: "basic-input-sm" %></u> days of move-out. If deposits do not cover such costs and damages, the RESIDENT shall
        immediately pay said additional costs for damages to OWNER.
      </li>
      <li>
        LATE CHARGE: A late fee of $<u><%= f.number_field :late_fee, class: "basic-input-sm" %></u>, shall be added and due for any
        payment of rent made after <%= f.select :days_rent_late, (1..28), {} %> days of the rent due date. Any dishonored check shall be treated as unpaid rent, and subject to the additional late fee.
      </li>
      <li>
        UTILITIES: RESIDENT agrees to pay all utilities and/or services based upon occupancy of the premises except
        <u><%= f.text_field :included_utilities, class: "basic-input-xlg" %></u>.
      </li>
      <li>
        OCCUPANTS: Guest(s) staying over 15 days without the written consent of OWNER shall be considered a breach
        of this agreement. ONLY the following individuals and/or animals, AND NO OTHERS shall occupy the subject
        residence for more than 15 days unless the expressed written consent of OWNER obtained in advance
        <u><%= f.text_field :occupants, class: "basic-input-xlg" %></u>.
      </li>
      <li>
        PETS: No animal, fowl, fish, reptile, and/or pet of any kind shall be kept on or about the premises, for any amount
        of time, without obtaining the prior written consent and meeting the requirements of the OWNER. Such consent if
        granted, shall be revocable at OWNER'S option upon giving a 30 day written notice. In the event laws are passed or
        permission is granted to have a pet and/or animal of any kind, an additional deposit in the amount of $<u><%= f.number_field :initial_pet_fee, class: "basic-input-xs" %></u> shall be required along with additional monthly rent of $<u><%= f.number_field :pet_fee, class: "basic-input-xs" %></u> along with the signing of OWNER'S Pet Agreement. RESIDENT also agrees to carry insurance deemed appropriate by OWNER to cover possible liability and damages that may be caused by such animals.
      </li>
      <li>
        LIQUID FILLED FURNISHINGS: No liquid filled furniture, receptacle containing more than ten gallons of
        liquid is permitted without prior written consent and meeting the requirements of the OWNER. RESIDENT also
        agrees to carry insurance deemed appropriate by OWNER to cover possible losses that may be caused by such items.
      </li>
      <li>
        PARKING: When and if RESIDENT is assigned a parking area/space on OWNER'S property, the parking
        area/space shall be used exclusively for parking of passenger automobiles and/or those approved vehicles listed on
        RESIDENT'S Application attached hereto. RESIDENT is hereby assigned or permitted to park only in the following
        area or space <u><%= f.text_field :parking_description, class: "basic-input-xlg" %></u>. The parking fee for this space (if applicable is $<u><%= f.number_field :parking_fee, class: "basic-input-xs" %></u> monthly. Said space shall not be used for the washing, painting, or repair of vehicles. No other parking space shall be used by RESIDENT or RESIDENT'S guest(s). RESIDENT is responsible for oil leaks and other vehicle discharges for which RESIDENT shall be charged for cleaning if deemed necessary by OWNER.
      </li>
      <li>
        NOISE: RESIDENT agrees not to cause or allow any noise or activity on the premises which might disturb the
        peace and quiet of another RESIDENT and/or neighbor. Said noise and/or activity shall be a breach of this agreement.
      </li>
      <li>
        DESTRUCTION OF PREMISES: If the premises become totally or partially destroyed during the term of this
        Agreement so that RESIDENT'S use is seriously impaired, OWNER or RESIDENT may terminate this Agreement
        immediately upon three day written notice to the other.
      </li>
      <li>
        CONDITION OF PREMISES: RESIDENT acknowledges that he has examined the premises and that said
        premises, all furnishings, fixtures, furniture, plumbing, heating, electrical facilities, all items listed on the attached
        property condition checklist, if any, and/or all other items provided by OWNER are all clean, and in good satisfactory
        condition except as may be indicated elsewhere in this Agreement. RESIDENT agrees to keep the premises and all
        items in good order and good condition and to immediately pay for costs to repair and/or replace any portion of the
        above damaged by RESIDENT, his guests and/or invitees, except as provided by law. At the termination of this
        Agreement, all of above items in this provision shall be returned to OWNER in clean and good condition except for
        reasonable wear and tear and the premises shall be free of all personal property and trash not belonging to OWNER. It
        is agreed that all dirt, holes, tears, burns, and stains of any size or amount in the carpets, drapes, walls, fixtures, and/or
        any other part of the premises, do not constitute reasonable wear and tear.
      </li>
      <li>
        ALTERATIONS: RESIDENT shall not paint, wallpaper, alter or redecorate, change or install locks, install
        antenna or other equipment, screws, fastening devices, large nails, or adhesive materials, place signs, displays, or
        other exhibits, on or in any portion of the premises without the written consent of the OWNER except as may be
        provided by law.
      </li>
      <li>
        PROPERTY MAINTENANCE: RESIDENT shall deposit all garbage and waste in a clean and sanitary manner
        into the proper receptacles and shall cooperate in keeping the garbage area neat and clean. RESIDENT shall be
        responsible for disposing of items of such size and nature as are not normally acceptable by the garbage hauler.
        RESIDENT shall be responsible for keeping the kitchen and bathroom drains free of things that may tend to cause
        clogging of the drains. RESIDENT shall pay for the cleaning out of any plumbing fixture that may need to be cleared
        of stoppage and for the expense or damage caused by stopping of waste pipes or overflow from bathtubs, wash basins,
        or sinks.
      </li>
      <li>
        HOUSE RULES: RESIDENT shall comply with all house rules as stated on separate addendum, but which are
        deemed part of this rental agreement, and a violation of any of the house rules is considered a breach of this
        agreement.
      </li>
      <li>
        CHANGE OF TERMS: The terms and conditions of this agreement are subject to future change by OWNER
        after the expiration of the agreed lease period upon 30-day written notice setting forth such change and delivered to
        RESIDENT. Any changes are subject to laws in existence at the time of the Notice of Change Of Terms.
      </li>
      <li>
        TERMINATION: After expiration of the leasing period, this agreement is automatically renewed from month to
        month, but may be terminated by either party giving to the other a 30-day written notice of intention to terminate.
        Where laws require "just cause", such just cause shall be so stated on said notice. The premises shall be considered
        vacated only after all areas including storage areas are clear of all RESIDENT'S belongings, and keys and other
        property furnished for RESIDENT'S use are returned to OWNER. Should the RESIDENT hold over beyond the
        termination date or fail to vacate all possessions on or before the termination date, RESIDENT shall be liable for
        additional rent and damages which may include damages due to OWNER'S loss of prospective new renters.
      </li>
      <li>
        POSSESSION: If OWNER is unable to deliver possession of the residence to RESIDENTS on the agreed date,
        because of the loss or destruction of the residence or because of the failure of the prior residents to vacate or for any
        other reason, the RESIDENT and/or OWNER may immediately cancel and terminate this agreement upon written
        notice to the other party at their last known address, whereupon neither party shall have liability to the other, and any
        sums paid under this Agreement shall be refunded in full. If neither party cancels, this Agreement shall be prorated
        and begin on the date of actual possession.
      </li>
      <li>
        INSURANCE: RESIDENT acknowledges that OWNERS insurance does not cover personal property damage
        caused by fire, theft, rain, war, acts of God, acts of others, and/or any other causes, nor shall OWNER be held liable
        for such losses. RESIDENT is hereby advised to obtain his own insurance policy to cover any personal losses.
      </li>
      <li>
        RIGHT OF ENTRY AND INSPECTION: OWNER may enter, inspect, and/or repair the premises at any time
        in case of emergency or suspected abandonment. OWNER shall give 24 hours advance notice and may enter for the
        purpose of showing the premises during normal business hours to prospective renters, buyers, lenders, for smoke
        alarm inspections, and/or for normal inspections and repairs. OWNER is permitted to make all alterations, repairs and
        maintenance that in OWNER'S judgment is necessary to perform.
      </li>
      <li>
        ASSIGNMENT: RESIDENT agrees not to transfer, assign or sublet the premises or any part thereof.
      </li>
      <li>
        PARTIAL INVALIDITY: Nothing contained in this Agreement shall be construed as waiving any of the
        OWNER'S or RESIDENT'S rights under the law. If any part of this Agreement shall be in conflict with the law, that
        part shall be void to the extent that it is in conflict, but shall not invalidate this Agreement nor shall it affect the
        validity or enforceability of any other provision of this Agreement.
      </li>
      <li>
        NO WAIVER: OWNER'S acceptance of rent with knowledge of any default by RESIDENT or waiver by
        OWNER of any breach of any term of this Agreement shall not constitute a waiver of subsequent breaches. Failure to
        require compliance or to exercise any right shall not be constituted as a waiver by OWNER of said term, condition,
        and/or right, and shall not affect the validity or enforceability of any provision of this Agreement.
      </li>
      <li>
        ATTORNEY FEES: If any legal action or proceedings be brought by either party of this Agreement, the
        prevailing party shall be reimbursed for all reasonable attorney's fees and costs in addition to other damages awarded.
      </li>
      <li>
        JOINTLY AND SEVERALLY: The undersigned RESIDENTS are jointly and severally responsible and liable
        for all obligations under this agreement.
      </li>
      <li>
        REPORT TO CREDIT/TENANT AGENCIES: You are hereby notified that a nonpayment, late payment or
        breach of any of the terms of this rental agreement may be submitted/reported to a credit and/or tenant reporting
        agency, and may create a negative credit record on your credit report.
      </li>
      <li>
        LEAD NOTIFICATION REQUIREMENT: For rental dwellings built before 1978, RESIDENT acknowledges
        receipt of the following: (Please check)
        ___ Lead Based Paint Disclosure Form
        ___ EPA Pamphlet 27. ADDITIONS AND/OR EXCEPTIONS
        _______________________________________________________________
        _______________________________________________________________.
      </li>
      <li>
        NOTICES: All notices to RESIDENT shall be served at RESIDENT'S premises and all notices to OWNER shall
        be served at
        <br />
        <%= f.text_area :owner_notice_address, class: 'basic-input-xlg' %>
      </li>
      <li>
        INVENTORY: The premises contains the following items, that the RESIDENT may use.
        <br />
        <%= f.text_area :inventory, class: 'basic-input-xlg' %>
      </li>
      <li>
        KEYS AND ADDDENDUMS: RESIDENT acknowledges receipt of the following which shall be deemed part of
        this Agreement: (Please check)
        ___ Keys #of keys and purposes ___________________________________________
        ___ House Rules ___ Pet Agreement ___ Other ________________________________
      </li>
      <li>
        ENTIRE AGREEMENT: This Agreement constitutes the entire Agreement between OWNER and RESIDENT.
        No oral agreements have been entered into, and all modifications or notices shall be in writing to be valid.
      </li>
      <li>
        RECEIPT OF AGREEMENT: The undersigned RESIDENTS have read and understand this Agreement and
        hereby acknowledge receipt of a copy of this Rental Agreement.
      </li>
      <li>
        NOTES:
        <br />
        <%= f.text_area :notes, class: 'basic-input-xlg' %>
      </li>
    </ol>

    <hr>

    <div class="row">
      <div class="col-sm-6">
        <h4>RESIDENT'S Signature</h4>
        <div class="checkbox">
          <label>
            <%= f.check_box :resident_consent_to_esign %> By checking this box, you consent to an electronic signature.
          </label>
        </div>

        <div id="resident_sig" class="sigPad">
          <%= f.label :resident_sign_date, "Date" %>
          <%= f.text_field :resident_sign_date, class: "datepicker" %>
          <label for="name">Print your name</label>
          <input type="text" name="resident_name" id="resident_name" class="name">
          <p class="typeItDesc">Review your signature</p>
          <p class="drawItDesc">Draw your signature</p>
          <ul class="sigNav">
            <li class="typeIt"><a href="#type-it" class="current">Type It</a></li>
            <li class="drawIt"><a href="#draw-it" >Draw It</a></li>
            <li class="clearButton"><a href="#clear">Clear</a></li>
          </ul>
          <div class="sig sigWrapper">
            <div class="typed"></div>
            <canvas class="pad" width="198" height="55"></canvas>
            <input type="hidden" name="resident_signature" class="output">
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <h4>OWNER'S or Agent's Signature</h4>
        <div class="checkbox">
          <label>
            <%= f.check_box :owner_consent_to_esign %> By checking this box, you consent to an electronic signature.
          </label>
        </div>
        <div id="owner_sig" class="sigPad">
          <%= f.label :owner_sign_date, "Date" %>
          <%= f.text_field :owner_sign_date, class: "datepicker" %>
          <label for="name">Print your name</label>
          <input type="text" name="owner_name" id="owner_name" class="name">
          <p class="typeItDesc">Review your signature</p>
          <p class="drawItDesc">Draw your signature</p>
          <ul class="sigNav">
            <li class="typeIt"><a href="#type-it" class="current">Type It</a></li>
            <li class="drawIt"><a href="#draw-it" >Draw It</a></li>
            <li class="clearButton"><a href="#clear">Clear</a></li>
          </ul>
          <div class="sig sigWrapper">
            <div class="typed"></div>
            <canvas class="pad" width="198" height="55"></canvas>
            <input type="hidden" name="owner_signiture" class="output">
          </div>
        </div>
      </div>
    </div>

    <hr>
    <%= f.submit "I accept the terms of this agreement.", class: "btn text-center" %>
    <hr>
  <% end %>
</div>