{{#each units}}
  {{this.property}}
  <h3><span class="label label-default">Featured Property</span></h3>
  <div class="row">
    <div class="col-sm-7">
      <div class="img-feature-div">
        <img {{bind-attr src="this.featurePhotoUrl"}} class="img-responsive" />
      </div>
    </div>

    <div class="col-sm-5">
      <h2 class="featurette-heading">{{this.property.name}}</h2>
      <p class="lead">{{this.description}}</p>
      <address>
        <strong>Address</strong><br>
        {{this.property.address}}<br>
        {{this.property.city}}, {{this.property.state}} {{this.property.zip}}<br>
      </address>

      <address>
        <strong>Contact Info</strong><br>
        Cody Tanner <br>
        (801) 637-4393
      </address>
    </div>

  </div>
{{/each}}