<div class="full-page">
{{#each unit in model}}
  <h3><span class="label label-default">Featured Unit</span></h3>
  <div class="row">

    <div class="col-sm-7">
      <img {{bind-attr src="unit.featurePhotoUrl"}} class="img-rounded img-responsive" />
    </div>

    <div class="col-sm-5">
      <h2>{{unit.property.name}}</h2>
      <p class="lead">{{unit.description}}</p>
      <address>
        <strong>Address</strong><br>
        {{unit.property.address}}<br>
        {{unit.property.city}}, {{unit.property.state}} {{unit.property.zip}}
      </address>
      <br>
      <address>
        <strong>Contact Info</strong><br>
        Cody Tanner <br>
        (801) 637-4393
      </address>
    </div>

  </div>
  <br>
{{else}}
  <h3><span class="label label-default">Sorry we don't currently have any vacant units.</span></h3>
  <img src="/assets/background.jpg" class="img-rounded img-responsive" />
{{/each}}
</div>
