<div class="row">
  <div class="col-md-8">
    <div class="jumbotron">
      <h1>Tanner Rentals</h1>
      <p class="lead">Click on a property to view more details about it.</p>
      {{#each properties}}
        {{#link-to "property" this}}{{this.address}}{{/link-to}}
      {{/each}}
    </div>
  </div>
  <div class="col-md-4 well">
    <h4 class="text-center lead">Sign Up Today!</h4>
    <form role="form">
      <div class="form-group">
        {{#each errors.email}}
          {{this.message}}
        {{/each}}
        <label for="InputEmail">Email address</label>
        {{input type="email" value=email class="form-control" placeholder="Enter email"}}
      </div>
      <div class="form-group">
        <label for="InputPassword">Password</label>
        {{input type="password" value=password class="form-control" placeholder="Password"}}
      </div>
      <div class="form-group">
        <label for="InputPasswordConfirmation">Password Confirmation</label>
        {{input type="password" value=passwordConfirmation class="form-control" placeholder="Password Confirmation"}}
      </div>

      <button type="submit" {{action "saveUser"}} class="btn btn-block btn-default">Submit</button>
    </form>

    <br />
    <h4 class="text-center"> - OR - </h4>
    <br />

    {{#link-to "sessions.new" class="btn btn-success btn-block"}}Sign In{{/link-to}}
  </div>
</div>