<h4>Profile for {{currentUser.email}}</h4>

<ul>
{{#each property in properties}}
  <li>
    {{property.name}}
    <ul class="nav nav-pills nav-stacked">
      {{#each unit in property.units itemController="unit"}}
        <li><a {{bind-attr href="unit.newLeaseUrl"}} target="_blank">New Lease for {{unit.property.name}}, {{unit.descriptionHeader}}</a></li>
      {{/each}}
    </ul
  </li>
{{/each}}