<h4>Profile for {{currentUser.email}}</h4>

<ul>
{{#each property in properties}}
  <li>
    {{property.name}}
    <ul>
      {{#each unit in property.units itemController="unit"}}
        <li>
          <a {{bind-attr href="unit.newLeaseUrl"}} target="_blank">New Lease for {{unit.property.name}}, {{unit.descriptionHeader}}</a>
          <ul>
            {{#each lease in unit.leases itemController="lease"}}
              <li>
                <a {{bind-attr href="lease.leaseUrl"}} target="_blank">Current Lease for {{lease.user.name}} ({{lease.user.email}})</a> |
                <a {{bind-attr href="lease.editLeaseUrl"}} target="_blank">Edit</a>
              </li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul
  </li>
{{/each}}