<!DOCTYPE html>
<html>
<head>
  <title>TannerRentals</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <meta name="current-user" content="<%= (current_user.id).to_json %>" />
  <% end %>

  <%= render 'layouts/flash' %>
  <div id="ember-body">
    <%= yield %>
  </div>
</body>
</html>
