<!DOCTYPE html>
<html>
<head>
  <title>TannerRentals</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if params[:controller] == 'ember' %>
  <div id="ember-body">
    <%= yield %>
  </div>
<% else %>
  <%= render 'layouts/navbar' %>
  <div id="main-body">
  <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
<% end %>
</body>
</html>
